{% extends 'base.html' %}

{% block content %}

    <h2 class="title">About Us</h2>

    <div class="aboutus">
        <div class="aboutus-image">
            <img id="aboutus-img" src="https://icdn2.themanual.com/image/themanual/retro-video-game-consoles.jpg"/>
        </div>
        <div class="aboutus-text">
            <p>Captain console</p>
            <p>Pellentesque at molestie neque. Interdum et malesuada fames ac ante ipsum primis in faucibus. Nulla facilisi. Phasellus sagittis nulla non purus feugiat, vitae rutrum sapien posuere. Suspendisse lectus urna, egestas nec eros ut, mattis pulvinar diam. Pellentesque sed quam porta, vulputate dolor ut, scelerisque diam. Morbi vel posuere ex. Nulla non ex ullamcorper, consequat erat vitae, condimentum sapien. Mauris varius, leo nec tempus aliquam, augue eros luctus velit, eu porta nunc orci vel diam.</p>
        </div>
    </div>

{% endblock %}