{% extends 'base.html' %}

{% block content %}

    <h2 class="title">About Us</h2>

    <div class="aboutus">
        <div class="aboutus-image">
            <img id="aboutus-img" src="https://icdn2.themanual.com/image/themanual/retro-video-game-consoles.jpg"/>
        </div>
        <div class="aboutus-text">
            <p>Captain Console retro console shop was founded in 2012 by a group of enthusiastic console collectors from the Icelandic retro console collectors' community. Their vision was to create a platform where Icelanders could get access to their favorite retro consoles all in one place. As the first store of it's kind in Iceland, Captain Console was a true pioneering project. Today the store has become established as the hub of retro console shopping in the country.</p>
            <p>Now as ever Captain Console's goal is to give seasoned collectors and newbies alike the chance to efficiently and effortlessly shop and explore inside the world of retro consoles. Quality is of great importance to us and we ensure that all of our products are completely original and high-functioning. As many of our products are second-hand their state is without exception checked thoroughly by our qualified employees, most of whom are experts in retro consoles. All to ensure the best experience for our customers! </p>
        </div>
    </div>

{% endblock %}