  <!-- Site footer -->
    <footer class="site-footer">
      <div class="container">
        <div class="row">
          <div class="col-md-12 col-md-9">
              <h5>Captain Console Glaesibaer</h5>
            <ul>
                <div class="row">
                    <p class="col-md-2">Mondays – Fridays</p>
                    <p class="col-md-3">11:30 – 19:00</p>
                </div>
                <div class="row">
                    <p class="col-md-2">Weekends</p>
                    <p class="col-md-3">12:00 – 18:00</p>
                </div>
            </ul>
          </div>
          <div class="col-md-3">
            <h5>Contact us</h5>
            <ul>
                <p>CaptainConsole@gmail.com</p>
                <p>Phone: +354 6944310</p>
            </ul>
          </div>
        </div>
      </div>
    </footer>