{% extends 'base.html' %}

{% block content %}
    <div id="homepage-box">
        <div id="homepage-item-playstation">
            <img class="console-img" src="https://upload.wikimedia.org/wikipedia/commons/thumb/0/00/PlayStation_logo.svg/1280px-PlayStation_logo.svg.png">
        </div>
        <div id="homepage-item-sega">
            <img class="console-img" src="https://upload.wikimedia.org/wikipedia/commons/thumb/1/13/SEGA_logo.svg/1280px-SEGA_logo.svg.png">
        </div>
    </div>

{% endblock %}