{% extends "base.html" %}

{% block content %}

    <div class="container wow fadeIn">
      <h2>Please fill these inn</h2>
      <div class="row">
        <div class="col-md-8 mb-4">
          <div class="card">
            <form action="payment" class="card-body">

              <div>

                <div>
                    <label for="full_name" class="">Name</label>
                    <input id="full_name" type='text' placeholder='Jon Jonsson' id='full_name' name='Full_Name' class='form-control' />
                </div>


                <div class="row">
                  <div class="col-lg-4 col-md-12 mb-4">
                      <label for="country">Country</label>
                      <input id="country" type='text' placeholder='Iceland' id='country' name='Country' class='form-control'/>
                      {{ form.shipping_country }}
                      <div class="invalid-feedback">
                          Please select a valid country.
                      </div>
                  </div>
                  <div class="col-lg-4 col-md-6 mb-4">
                    <label for="shipping_zip">Zip</label>
                    <input id="zip_code" type='text' placeholder='Zip code' id='shipping_zip' name='shipping_zip' class='form-control' />
                    <div class="invalid-feedback">
                      Zip code required.
                    </div>
                  </div>
                </div>
              </div>
              <hr>
              <button class="btn btn-primary btn-lg btn-block" type="submit">Continue</button>

            </form>

          </div>

        </div>
      </div>

    </div>

    <script id="checkout_script">
        localStorage.setItem("fullname", document.getElementById("full_name").value);
        localStorage.setItem("country", document.getElementById("country").value);
        localStorage.setItem("zip_code", document.getElementById("zip_code").value);
    </script>

{% endblock content %}