{% extends 'base.html' %}

{% load crispy_forms_tags %}

{% block content %}
    <div class="left-profile">
        <img src="{{ user.customer.profile_image }}" class="profile-image"/>
    </div>
    <div class="right-profile">
        <h2 class="title">{{ user.first_name }} {{ user.last_name }}</h2>
        <p>Username: {{ user.username }}</p>
        <form class="form form-horizontal" method="post">
            {% csrf_token %}
            {{ profile_form|crispy }}
            {{ image_form|crispy }}
            <input type="submit" class="btn btn-primary" value="Update" />
        </form>
    </div>
{% endblock %}