{% extends 'base.html' %}

{% load crispy_forms_tags %}

{% block content %}
    <div class="profile-info">
        <div class="left-profile">
            <img src="{{ user.customer.profile_image }}" class="profile-image"/>
        </div>
        <div class="right-profile">
            <h2 class="title">{{ user.first_name }} {{ user.last_name }}</h2>
            <p>Username: {{ user.username }}</p>
            <h4>Edit information</h4>
            <form class="form form-horizontal" method="post">
                {% csrf_token %}
                {{ profile_form|crispy }}
                {{ image_form|crispy }}
                <input type="submit" class="btn btn-primary" value="Update" />
            </form>
        </div>
    </div>
    <div class="search-history">
        <h4>Recently Viewed</h4>
{#            {% if globals.cookie.lastVisited %}#}
{#                {% assign prodIds = globals.cookie.lastVisited | append: "]" | prepend: "[" | split: "%2C" | join: "," %}#}
{#                {module_data resource="products" version="v3" fields="canonicalUrl, name, smallImage" where="\{'id':\{'$in': {{prodIds}} \}\}" collection="lastProducts" template=""}#}
{#                <h4>Your last visited products:</h4>#}
{#                <ul>#}
{#                    {% for item in lastProducts.items %}#}
{#                        <li><a alt="{{item.name}}" href="{{item.canonicalUrl}}"><img alt="{{item.name}}" src="{{item.smallImage}}?Action=thumbnail&Width=50&Height=50"/></a></li>#}
{#                    {% endfor %}#}
{#                </ul>#}
{#            {% endif %}#}
{#            {% for console in history_list %}#}
{#                {% include 'console/single_console.html' with console=console %}#}
{#            {% endfor %}#}
    {% for history in history_list %}
        <tr>
            <td>{{ history.content.object }}</td>
            <td>{{ history.time }}</td>
            <td><a href="a" class="btn btn-danger">Delete</a></td>
        </tr>
    {% endfor %}
    </div>
{% endblock %}